<div>
  <hr>
  <h2><%= @warehouse['code'] %></h2>
  <p><%= @warehouse['name'] %></p>
  <p><%= @warehouse['city'] %></p>
  <p><%= @warehouse['area'] %></p>
  <p><%= @warehouse['zip'] %></p>
  <p><%= @warehouse['description'] %></p>
  <p><%= @warehouse['adress'] %></p>
  <hr>
</div>

